.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    border: 2px solid rgba(0, 0, 0, 0.269);
    padding: 20px 60px 20px 60px;
    border-radius: 16px;
    width: 480px;
    max-height: 80vh; /* Define a altura máxima para 80% da altura da tela */
    overflow-y: auto; /* Adiciona barra de rolagem vertical quando necessário */
    overflow-x: hidden; /* Evita barra de rolagem horizontal */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.modal-content header{
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content header h2{
    margin-bottom: 0px;
}

.modal-content header img{
    width: 50px;
    margin-right: 20px;
}

.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-content form label {
    margin-top: 10px;
}

.modal-content form input select {
    padding: 5px;
    margin-bottom: 10px;
    border-color: rgba(220, 220, 220, 0.493);
    border-radius: 15px;
}

.modal-content form button {
    width: 50%;
    height: auto;
    margin-top: 15px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.botao-adicionar {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.botao-fechar {
    display: flex;
    justify-content: center;
}

.botao-fechar button {
    width: 50%;
    height: 30px;
    background-color: #d24646;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}