.con-prin-clientes {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: auto;
    height: calc(100vh - 270px); /* Altura da tela menos as margens */
    min-height: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin: 20px;
    overflow: hidden; /* Para garantir que o conteúdo extra da lista não afete a altura do contêiner */
}

.lista-clientes {
    padding: 10px 0;
    overflow-y: auto; /* Adiciona a barra de rolagem vertical */
    max-height: 100%; /* Garante que o container não ultrapasse a altura disponível */
}

.input-container {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 20px;
}

.input-container input {
    width: 100%;
    padding: 10px 40px 10px 15px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

.input-container input:focus {
    border-color: #888;
}

.input-container .input-icon {
    display: flex;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: auto;
    opacity: 0.6;
    pointer-events: none;
}

.input-container input:focus + .input-icon {
    opacity: 1;
}

.botoes-acao {
    display: flex;
    justify-content: start;
}

.botoes-acao img {
    width: 2rem;
    margin-left: 10px;
}

.botoes-acao img:hover {
    background-color: rgba(0, 0, 0, 0.144);
    cursor: pointer;
    border-radius: 7px;
}
